.index-page-detail {
    display: flex;
}

.img-index {
    width: 40%;
    height: 450px;
    margin-left: 50px;
}

.heading-description {
    display: flex;
    flex-direction: column;
    margin: 4rem;
    justify-content: flex-start;
}

.des-landing {
    font-size: large;
    letter-spacing: .5px;
}

.heading-topic {
    color: var(--primary-text-color);
    font-size: 3rem;
}

.install {
    border-radius: .3rem;
    padding: .6rem;
    background-color: var(--btn-bg-color);
    color: var(--text-color);
    font-size: larger;
    cursor: pointer;
    font-weight: bolder;
}

.install:hover {
    background-color: var(--primary-text-color);
    color: var(--white-color);
}

.btn-wrapper {
    margin-top: 1.5rem;
}

.doc-link {
    font-size: large;
}

.spacer-1rem {
    margin-bottom: 1rem;
}

.footer-basic {
    padding: 40px 0;
    color: var(--text-color);
    background-color: var(--bg-primary-color);
    width: 100%;
    height: 200px;
}

.footer-basic .social {
    text-align: center;
    padding-bottom: 20px;
}

.footer-basic .social>a {
    font-size: 24px;
    width: 40px;
    height: 20px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    color: inherit;
    opacity: 0.75;
}

.footer-basic .social>a:hover {
    opacity: 0.9;
    color: var(--primary-text-color);
}

.footer-basic .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: var(--text-color);
    margin-bottom: 0;
}

.signature {
    text-align: center;
}

.img-index:hover {
    transform: scale(1.03);
    cursor: pointer;
}


@media screen and (max-width: 700px) {
    .documentation {
        margin-top: 1rem;
    }

    .img-index-2 {
        display: none;

    }
    .img-index{
        width: 30%;
        height: 600px;
    }
}