.index-page-detail {
    display: flex;
}

.img-index {
    width: 50%;
}

.heading-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 1rem;
    justify-content: center;
}

.des-landing {
    font-size: large;
}

.heading-topic {
    color: var(--primary-text-color);
    font-size: 1.75rem;
}

.install {
    margin-right: 1rem;
    border-radius: .3rem;
    padding: .4rem;
    background-color: var(--btn-bg-color);
    color: var(--white-color);
    font-size: larger;
    cursor: pointer;
    margin-top: 10px;
}

.install:hover {
    background-color: var(--primary-text-color);
}

.documentation {
    margin-right: 1rem;
    border-radius: .3rem;
    padding: .4rem;
    font-size: larger;
    cursor: pointer;
    color: var(--primary-text-color);
    margin-top: 10px;
}

.documentation:hover {
    background-color: var(--btn-bg-color);
    color: var(--white-color);
}

.doc-link {
    font-size: large;
}

.spacer-2rem {
    margin-left: 1rem;
    margin-bottom: 2rem;
}

.footer-basic {
    padding: 40px 0;
    color: var(--text-color);
    background-color: var(--bg-primary-color);
}

.footer-basic .social {
    text-align: center;
    padding-bottom: 20px;
}

.footer-basic .social>a {
    font-size: 24px;
    width: 40px;
    height: 20px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    color: inherit;
    opacity: 0.75;
}

.footer-basic .social>a:hover {
    opacity: 0.9;
    color: var(--primary-text-color);
}

.footer-basic .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: var(--text-color);
    margin-bottom: 0;
}

.signature {
    text-align: center;
}

@media screen and (max-width: 700px) {
    .documentation {
        margin-top: 1rem;
    }

    .img-index {
        display: none;
    }
}