.Alert-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 1000px;
}

.alert-box {
    padding: 12px;
    width: 60vw;
    border-radius: 10px;
    color: var(--text-color);
}
.primary-alert{
    background-color: var(--primary-color-toast);
}
.secondary-alert{
    background-color: var(--secondary-color);
}

.success-alert{
    background-color: var(--success-color);
}
.danger-alert{
    background-color: var(--danger-message-color);
}
.warning-alert{
    background-color: var(--warning-color);
}
.display-com-alert{
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: 3px solid var(--light-gray);
    padding: 30px;
    justify-content: space-between;
    align-items: center;
}
.link-text-primary{
    border-bottom: 2px solid var(--Primary-color);
}