.round-img {
    border-radius: 50%;
    border: 2px solid var(--white-color);
    object-fit: cover;
}

.avatar-size-lg {
    width: 100px;
    height: 100px;
}

.avatar-size-md {
    width: 80px;
    height: 80px;
}

.avatar-size-sm {
    width: 60px;
    height: 60px;
}

.avatar-size-xs {
    width: 40px;
    height: 40px;
}

.bg-color {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.round-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Avatar-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 1000px;
    margin-top: 100px;
}

.display-com {
    display: flex;
    border: 3px solid var(--light-gray);
    padding: 30px;
    justify-content: space-between;
}
@media screen and (max-width: 750px){
    .Avatar-wrapper{
        margin-top: 30px;
    } 
}