.list-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 1000px;
    margin-top: 100px;
}

.style-circle {
    list-style-type: circle;
}

.style-square {
    list-style-type: square;
}

.list-style-small-Alpha {
    list-style-type: lower-alpha;
    padding: 15px;
}

.list-style-capital-Alpha {
    list-style-type: upper-alpha;
    padding: 15px;
}

.list-style-small-Roman {
    list-style-type: lower-roman;
    padding: 15px;
}

.list-style-capital-Roman {
    list-style-type: upper-roman;
    padding: 15px;
}

.list-style-none {
    list-style: none;
    padding-inline-start: 0;
}

.list-style-none.list-container {
    padding-inline-start: 32px;
}

.inline-list {
    display: flex;
}

.list-inline-item {
    padding: 10px;
}